*.log
*.exe
*.idea/
*node_modules/
Conversations/*
*history/*
gc.bat
ltsession.dump
run2.sh
build-*
**/dist/*
**/build/*
**/.eggs/*
.DS_Store
**/__pycache__/*
custom_config_link
*.swp
*.pyc
*.autosave
