*.log
*.exe
.tern-project
*.idea/
*node_modules/
*venv/
Conversations/*
*history/*
gc.bat
ltsession.dump
run2.sh
lockfile
build-*
**/dist/*
**/build/*
**/.eggs/*
.DS_Store
**/__pycache__/*
custom_config_link
*.swp
*.pyc
*.autosave
