link(href='/css/toastr.min.css' rel='stylesheet')
link(href='/css/loading-bar.css' rel='stylesheet')
link(href='/css/loading.css' rel='stylesheet')
link(href='/css/loading-btn.css' rel='stylesheet')
script(src='/js/loading-bar.min.js')
script(src='/js/jquery-3.3.1.min.js')

script(src="/socket.io/socket.io.js")
script(src='/js/socket.io-stream.js')
script(src='/js/toastr.min.js')
script(src='/js/tester.js')
script(src='/js/chacha.js')
script(src='/js/sjcl.js')
script(src='/js/audioRecorder.js')

link(rel='stylesheet' href='/css/main.min.css')