.container
	.header_wrap
		.heading
			h1.heading__main #{title}
			span.version #{version}

			if secured !== undefined
				script.
					const secured = #{secured};

		.navbar-wrap.navbar-right#chat-menu
			ul.navbar
				li.nav-item#chat-view-button Chat
				li.nav-item#settings-view-button Settings
				li.nav-item#logout-button Logout


		.navbar-wrap.navbar-right#admin-menu
			ul.navbar
				li.nav-item#to-chat Back to chat
				li.nav-item#admin-logout-button Logout