//script(src='/js/ChatClient.js')
script(src='/js/forge.min.js')
script(src='/js/iCrypto.js')
script(src='/js/lzma-worker.min.js')
script(src='/js/toastr.min.js')
script(src='/js/socket.io.js')
script(src='/js/base32.js')
script(src='/js/wildemitter.js')
script(src='/js/hljs.js')
script(src='/js/waitMe.min.js')
//script(src='/js/CuteSet.js')

script(src='/js/bundle.js')