.container.tingle-content-wrapper
    //register

    //login

    //chat
        // vault                               collapsible
           // topics
        // members of current topic?>>>        collaspible

        // chat window of current topic
