header.chat-header
    .header-section-left
        img.logo(src="/img/island.svg")
        h3#active-title Welcome to Islands!

main
    #settings-container(style:"display: none")
    #invites-container(style:"display: none")
    #topics-container(style:"display: none")
    #members-container(style:"display: none")
    #main-container.container.tingle-content-wrapper




    //#registration-complete--wrapper
        //h2 Setup completed
        //p Please <b>save your password!</b> There is no password recovery!
        //| Once you lose it - it's gone forever.
        //a(href="/") Proceed to login>>>
    //#vault-register--wrapper
        //div.form-border
            //h3 Create your password:
            //div: input#vault-new-password(type="password" placeholder="Enter new password" maxlength="50")
            //div: input#vault-new-password-confirm(type="password" placeholder="Confirm new password" maxlength="50")
            //div: button.btn#register-vault Save



if secured !== undefined
    script.
        const secured = #{secured};

script.
    isRegistration = function(){
        return #{registration}
    }
