meta(charset="UTF-8")
link(href='/css/toastr.min.css' rel='stylesheet')
link(href='/css/loading-bar.css' rel='stylesheet')
link(href='/css/loading.css' rel='stylesheet')
link(href='/css/loading-btn.css' rel='stylesheet')
link(href='/css/tingle.css' rel='stylesheet')


script(src='/js/processError.js')
script(src='/js/loading-bar.min.js')
script(src='/js/jquery-3.3.1.min.js')
//script(src='/js/tingle.js')
//

script(src='/js/socket.io-stream.js')
script(src='/js/audioRecorder.js')
link(rel='stylesheet' href='/css/main.min.css')
link(rel="icon" href='/img/favicon.ico')
