@import "../abstracts/dark"
@import "../abstracts/chat_var"

// header
.header-section-left
  display: flex
  flex-direction: row
  align-items: center
  img
    width: 4rem
    height: 4rem
    margin: 1rem
    -webkit-filter: brightness(70%)
    filter: birghtness(70%)
    &:hover
      cursor: pointer
      -webkit-filter: brightness(100%)
      filter: birghtness(100%)
      transition: .2s
    @media (max-width: $medium)
        width: 2rem
        height: 2rem
        margin: .7rem

  #active-title
    margin-left: 1rem

    @media (max-width: $medium)
      font-size: 1.2rem

.header-section-middle

  display: flex
  flex-direction: column
  align-items: center
  img
    margin: 1rem
    width: 4rem
    height: 4rem
    -webkit-filter: brightness(70%)
    filter: birghtness(70%)

    &:hover
      cursor: pointer
      -webkit-filter: brightness(100%)
      filter: birghtness(100%)
      transition: .2s

  @media (max-width: $medium)
    display: none

.header-section-right
  display: flex
  flex-direction: row
  img

    -webkit-filter: brightness(70%)
    filter: birghtness(70%)
    width: 4rem
    height: 4rem
    margin: 1rem
    &:hover
      cursor: pointer
      -webkit-filter: brightness(100%)
      filter: birghtness(100%)
      transition: .2s
    @media (max-width: $medium)
        width: 2rem
        height: 2rem
        margin: .7rem

// header end

//main start

main
  background-color: $main-background

//main end
