@import "../abstracts/dark"
@import "../abstracts/mixins"
@import "../abstracts/chat_var"

// header
.header-section-left
  display: flex
  flex-direction: row
  align-items: center
  img
    height: 4rem
    width: 4rem
    margin: 1rem

  #active-title
    margin-left: 1rem



#menu-button
    width: 4rem
    height: 4rem
    margin: 1rem
    background: transparent url("/img/menu.svg") no-repeat 0 50%
    background-size: 100% 100%
    &:hover
        cursor: pointer
        -webkit-filter: brightness(70%)
        filter: birghtness(70%)
        transition: .2s

.menu-on
    -webkit-filter: brightness(70%)
    filter: birghtness(70%)

.header-section-middle

  display: flex
  flex-direction: column
  align-items: center
  img
    margin: 1rem
    width: 4rem
    height: 4rem
    -webkit-filter: brightness(70%)
    filter: birghtness(70%)

    &:hover
      cursor: pointer
      -webkit-filter: brightness(100%)
      filter: birghtness(100%)
      transition: .2s

  @media (max-width: $medium)
    display: none

.header-section-right
  display: flex
  flex-direction: row
  img

    -webkit-filter: brightness(70%)
    filter: birghtness(70%)
    width: 4rem
    height: 4rem
    margin: 1rem
    &:hover
      cursor: pointer
      -webkit-filter: brightness(100%)
      filter: birghtness(100%)
      transition: .2s

// header end

//main start

main
  background-color: $main-background


#main-container
  height: calc(100vh - 6rem)
  width: 100%
  display: flex
  flex-direction: row



//~END main

//Side panel

.side-panel-container
  display: flex
  flex-direction: column
  width: 30%
  max-width: 40rem
  height: 100%
  align-items: flex-start
  @media (max-width: $medium)
    width: 100%

.carousel-wrap
  width: 100%
  display: flex
  flex-direction: row
  align-items: center
  height: 7rem
  .btn-rotate
    margin: 0 2.5rem 0 0
    transition: .2s
    &:hover
      border-color: $button-hover
      transition: .2s

  .carousel
    flex: 1
    margin: 1.5rem 1rem 1.5rem 1rem
    color: $text-color
    font-size: 2.5rem
    font-weight: bold
    border: none
    outline: none
    background-color: inherit
    appearance: none
    -webkit-appearance: none
    -moz-appearance: none
    -ms-appearance: none
    &:-ms-expand
      display: none
    option
      background-color: darken($main-background, 5%)
      border: none
      font-size: 1.7rem
      outline: none


  .spin-carousel
    width: 2.5rem
    height: 2.4rem
    margin: 1.5rem 1rem 1.5rem 1rem


.side-panel-section
  display: flex
  flex-direction: column
  flex: 1
  width: 100%

.side-panel-block
  display: flex
  flex-direction: column

.side-block-data-list
  @include scroll-style
  list-style-type: none
  display: flex
  flex: 1
  flex-direction: column
  list-style-type: initial
  overflow: auto
  scrollbar-color: $button-hover $main-background
  list-style-position: inside

.side-panel-button-row
  display: flex
  flex-direction: row
  width: 100%
  overflow: hidden
  height: 6rem
  margin-left: 1rem
  

.side-block-data-list-item
  flex-direction: row
  border-bottom: 1px solid darken($main-background, 5%)
  padding: .5rem
  display: flex

  &:hover
    background-color: darken($main-background, 5%)
    cursor: pointer

.topic-name
  font-size: 1.8rem
  margin-left: 1.2rem
  color: $text-color
  display: flex
  flex: 1

.unread-messages
  font-weight: bold
  display: flex
  padding: .5rem
  font-size: 1.4rem
  background-color: darken($main-background, 17%)
  color: $text-color
  border-radius: 40%
  margin-right: 1rem

.topic-in-focus
  background-color: $topic-in-focus


.top-section
  @media screen and (max-height: 800px)
    height: 80%

.bottom-section
  height: 40%
  @media screen and (max-height: 800px)
    display: none


.connection-indicator-container
  display: flex
  flex-direction: row
  flex-shrink: 1
  height: 4rem
  align-items: center
  width: 100%
  padding: 1rem
  .connection-indicator-label
    font-size: 1.3rem
    color: $text-color
    font-weight: 100
    margin-left: 1rem
   

  .connection-indicator
    border-radius: 50%
    width: 1rem
    height: 1rem
  .connected
    background-color: green
  .dicsonnected
    background-color: red
  .connecting
    background-color: orange
  .unknown
    background-color: grey


  
//~END side panel


//new message block

.new-message-container
  max-height: 50%
  background-color: inherit
  display: flex
  margin: 2rem 2rem 1rem 0
  flex-direction: row
  justify-content: flex-end

.control-col
  display: flex
  flex-direction: column
  margin-left: 2rem


.select-member-wrap
  display: flex
  flex-direction: row
  justify-content: flex-end
  border-bottom: none
  margin: 0
  color: $text-color
  h4
    margin: auto 1rem
  select
    color: $text-color
    background: $main-background
    padding: .8rem
    min-width: 37%
    //border: 1px solid #b5b5b5
    border: none
    border-bottom: 1px solid darken($main-background, 5%)
    border-radius: .5rem .5rem 0 0
    outline: none


.input-wrap
  display: flex
  flex-direction: row
  width: 100%
  justify-content: flex-end
  margin: 0

  #new-msg
    width: 100%
    border-radius: .5rem 0 .5rem .5rem
    height: 3.5rem
    margin: 0 0 .5rem 0
    resize: vertical
    background-color: $main-background
    color: $text-color
    border: none
  .button-column
    display: flex
    flex-direction: column
    margin: 0
    img
      cursor: pointer
      border-radius: 1rem
      margin-right: 2rem
      width: 3rem
      height: 3rem
      transition: filter .2s ease
      &:hover
        filter:  drop-shadow(1px 1px 2px rgb(137, 140, 151))
    .disabled
      filter: grayscale(100%)


.new-msg-input
  width: 100%

.new-message-wrap
  display: flex
  flex-direction: column
  align-items: flex-end
  *
    display: block
    margin: 1rem 0 1rem 0
  #new-msg
    background-color: $main-background
    min-width: 60%
    padding: 1rem
    border-radius: 0.5rem
    resize: vertical
  .send-button-wrap
    display: flex
    flex-direction: row
    align-items: center
    margin: 0
    justify-content flex-end
    .hint-wrap
      display: flex
      flex-direction: column
      align-items: flex-end
      .send-new-message-hint
        margin: 0 1.5rem 0 1.5rem
        color: #9da3ad
        font-size: 1.2rem
        font-style: italic

.btn-send
  border: none
  margin: 0
  outline: none
  background-color: $main-background
  color: $text-color
  font-size: 1.8rem
  padding: .8rem
  transition: .2s
  &:hover
    background-color: $button-hover
    transition: .2s


.attach-file-wrap
  height: 5rem
  display: flex
  flex-direction: row
  justify-content: flex-end
  align-items: center
  align-self: flex-end
  width: 60%
  min-width: 10rem
  padding: 1rem
  border-radius: 0.5rem

.new-msg-buttons
  width: 7rem
  label
    align-self: center
    margin-top: 1.5rem
    width: 4rem
    height: 4rem
    display: flex

#chosen-files
  margin-right: 1.7rem
  display: flex
  flex-direction: row
  .chosen-file-wrap
    background-color: #e1e1e1
    padding: .2rem
    border-radius: 1rem
    height: inherit
    display: flex
    align-items: center
    font-size: 1.8rem
    font-weight: bolder
    color: #1a2435
    img
      height: 20px
      width: 20px
      &:hover
        filter:  drop-shadow(1px 1px 2px rgba(0,0,0,1))


.inputfile
  width: 0.1px
  height: 0.1px
  opacity: 0
  overflow: hidden
  position: absolute
  z-index: -1

.inputfile + label
  display: flex
  flex-direction: row
  img
    border-radius: 1rem
    cursor: pointer
    width: 32px
    height: 32px
    transition: filter .2s ease
    &:hover
      filter:  drop-shadow(1px 1px 2px rgba(0,0,0,1))

.new-msg-buttons
  width: 7rem
  label
    align-self: center
    margin-top: 1.5rem
    width: 4rem
    height: 4rem
    display: flex


// ~END new message block

// Login and registration
.form-outer-wrapper
  display: block
  margin: 10% auto
  color: $text-color
  .form-border
    background-color: #111113
    border: none
    display: flex
    flex-direction: column
    align-items: flex-start
    p
      margin: 1rem 0 1rem 0

.form-input
  background-color: $main-background
  color: $text-color
  border: none
  outline: none

.form-button
  border-radius: .4rem
  background-color: $main-background
  color: $text-color
  border: none
  outline: none
  padding: 1rem
  font-size: 1.8rem
  &:hover
    background-color: $button-hover
    transition: .2s

// ~END registration

// MESSAGES

.messages-panel-wrapper
  background-color: $messages-panel-background
  width: 70%
  height: 100%
  display: flex
  flex-direction: column
  flex: 1
  .messages-panel-container
    width: 100%
    display: flex
    flex: 1
    background-color: inherit
    border-bottom: 2px solid $main-background
    overflow-x: hidden
    overflow-y: auto
    flex-grow: 1
    border-radius: 1rem
    padding: 1rem 2rem 1rem 2rem
    resize: none
    height: 100%

.messages-window
  width: 100%
  display: flex
  flex-direction: column



.message
  @include message
  align-self: flex-start
  background-color: #c4e8ff

.my_message
  @include message
  align-self: flex-end
  background-color: #d6ffef
  text-align: right
  .msg-body
    text-align: left

.service-record
  @include message
  width: 100%
  background-color: #e6e6e6
  text-align: left
  font-size: 1.2rem
  color: #8a8a8a
  .msg-body
    text-align: left

.ephemeral-msg
  @include message
  width: 100%
  background-color: #fff0da
  text-align: left
  font-size: 1.2rem
  color: #8a8a8a
  .msg-body
    text-align: left

.private-message
  border: .3rem solid #b0afca

.private-mark
  font-style: italic
  margin: 0 .5rem 0 .5rem

.msg-time-stamp
  font-style: italic
  font-size: 1rem
  margin: 0 .5rem 0 .5rem
.msg-body
  height: auto
  overflow-wrap: break-word
.m-author-id
  display: none
.m-recipient-id
  display: none

//Attachments
.attach-file-wrap
  height: 5rem
  display: flex
  flex-direction: row
  justify-content: flex-end
  align-items: center
  align-self: flex-end
  width: 60%
  min-width: 10rem
  padding: 1rem
  border-radius: 0.5rem

.msg-attachments
  display: flex
  margin-top: .8rem
  align-self: flex-start

.att-view
  cursor: pointer
  margin: 1rem
  .att-state
    display: none
    .spinner
      width: 1.7rem
      margin-right: .3rem
      display: flex
  .att-name
    font-weight: bold
    color: #003d77
    font-size: 1.6rem
    margin-right: .4rem
  .att-size
    font-size: 1.1rem
  .att-icon
    width: 1.4rem
    height: 1.4rem

.att-info
  display: none


// ~END MESSAGES




// Settings
// ~END Settings

